/* 
CSS Resets
* {
	margin: 0;
	box-sizing: border-box;
} 
*/

body {
	background-color: rgb(232, 211, 158);
}

ul {
	background-color: white;
	border: solid 3px hotpink;
	padding-top: 30px;
	padding-bottom: 50px;
	/* shorthand */
	padding: 0px 30px 50px 60px;
	/*       top right  bottom left    */
	padding: 0px 90px;
	/*       top  right */
	/*    bottom  left */
	padding: 10px;

	/* margin: 50px 70px 100px 0px; */
}

li {
	background-color: goldenrod;
	margin-bottom: 10px;
	display: inline;
}

.prueba {
	background-color: aliceblue;
	height: 50px;
	width: 100px;
	display: inline-block;
}
